# Python virtual environment
venv/

# Compiled Python files
*.pyc
__pycache__/

# IDE and editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# macOS files
.DS_Store

# Windows files
Thumbs.db

# Log files
*.log

# Other common files to ignore
*.bak
*.swp
*.tmp

# Why is this even tracked
deepest_squat.jpg